body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.input_row {
  flex: 1; 
  min-width: 250px;
}

.map_row {
  flex: 0 0 auto;
}
        
.map_container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
  padding: 0px;
  width:95%;
}

.mountainLabel{
  text-align: center;
}

.inputLabels{
  text-align: center;
}

.inputText{
  text-align: center;
  display: block;
  margin-top: 10px;
  align-items: center;
  margin-left: 2.5%;
  min-height: 80px;
  max-width:95%;
  width:95%;
}
    
.inputForm{
  border-color: black;
  border-style: solid;
  border-radius:5px;
  padding: 5px;
  text-align: center;
}

.inputSubmit{
  border-radius: 5px;
}